<h1>Profile Page for <%= @user.name %></h1>

<section id="profile-data">
  <h2>Profile Data</h2>
  <p>Email: <%= @user.email %></p>
  <p>Role: <%= @user.role %></p>
  <section id="address-details">
    <% @user.addresses.each do |address| %>
    <section id="address-<%= address.id %>">
    <h4>Address:</h4>
      <p><%= address.nickname %></p>
    <p><%= address.street %></p>
    <p>
      <%= address.city %>,
      <%= address.state %>
      <%= address.zip %>
    </p>
    <p><%= link_to "Edit Address", edit_profile_address_path(address.id), method: :get unless current_admin? %></p>
    <p><%= link_to "Delete Address", profile_address_path(address.id), method: :delete unless current_admin? %></p>
    </section>
    <% end %>
    <p><%= link_to "Add New Address", new_profile_address_path, method: :get unless current_admin? %></p>
  </section>
  <p><%= link_to 'Edit Profile Data', edit_profile_path unless current_admin? %></p>
</section>

<section id="orders-data">
  <h2>Order Data</h2>
  <p><% if @user.orders.any? %>
  <%= link_to 'Customer Orders', profile_orders_path %>
  <% else %>
  You have no orders yet.
  <% end %></p>
</section>
